$primary: #2769ce !default;
$primary-alt: #f42a41 !default;

// neutral
$white: #ffffff !default;
$black: #000000 !default;
$super-light: #f5f5f6 !default;
$light: #dcdfe0 !default;
$grey: #babcbf !default;
$darker: #494e54 !default;
$dark: #333333 !default;

// elements
$anchor__color: $primary !default;
